#event-btn{
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 500;
    height: 7vh;
    width: 13vw;
    border-radius: 7px;
    text-decoration: none;
    line-height: 1em;
    fill: #2B2A35;
    color: #2B2A35;
    background-color: #FFC061;
}


#event-form{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}