<app-navbar></app-navbar>
<div class="container-fluid" style="width: 100vw;height:147vh">
    <div class="row h-100 w-100 d-flex justify-content-center">
        <div id="event-form" class="col-lg-5 d-flex flex-column my-5" style="gap: 4%;">
            <div class="row mt-5">
                <h4 class="text-center">Event Registration Form</h4>
                <p class="text-center form-text">To complete your registration, please provide your event details and contact information</p>
            </div>
           
            <div class="row">
                <h5>Title</h5>
                <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="EventDetails.Name" aria-describedby="firstname">
                    <div id="emailHelp" class="form-text">Event Name</div>
                </div>
            </div>

            
            
            <div class="row">
                <h5>Description</h5>
                <div class="col">
                    <textarea class="form-control" [(ngModel)]="EventDetails.Description" aria-describedby="firstname"></textarea>
                    <div id="emailHelp" class="form-text">Event Description</div>
                </div>
            </div>

           
            <div class="row">
                
                <div class="col">
                    <h5>Start Date & Time</h5>
                    <input type="datetime-local" [(ngModel)]="EventDetails.StartDate" class="form-control"/>
                </div>
                <div class="col">
                    <h5>End Date & Time</h5>
                    <input type="datetime-local" [(ngModel)]="EventDetails.EndDate" class="form-control"/>
                </div>
            </div>


            <div class="row">
                <h5>Your Name</h5>
                <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="EventDetails.FirstName" aria-describedby="firstname">
                    <div id="emailHelp" class="form-text">First Name</div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="EventDetails.LastName" aria-describedby="lastname">
                    <div id="emailHelp" class="form-text">Last Name</div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5>Email Address</h5>
                    <input type="text" class="form-control" [(ngModel)]="EventDetails.Email" aria-describedby="firstname">
                    <div id="emailHelp" class="form-text">example&#64;example.com</div>
                </div>
                <div class="col">
                    <h5>Contact Number</h5>
                    <input type="text" class="form-control" [(ngModel)]="EventDetails.ContactNumber" aria-describedby="lastname">
                    <div id="emailHelp" class="form-text">Please enter a valid phone number.</div>
                </div>
            </div>

            <div class="row">
                <h5>No of participants</h5>
                <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="EventDetails.Participants" aria-describedby="firstname">
                    <div id="emailHelp" class="form-text">Tell us your group size you can adjust this later</div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button id="event-btn" (click)="handleClick()" class="btn">Submit</button>
                </div>
                
            </div>
        </div>
    </div>
</div>