<div class="container" style="height:100vh;">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div id="signin" class="col-4 py-5" style="height: 50vh;">
            <div class="row">
                <div class="col">
                    <h5 class="text-center" style="font-family: 'Rubik';">Sign in</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center align-items-between mt-5">
                <div class="col-10">
                    <form (submit)="onSignIn(signInForm)" #signInForm="ngForm">
                        <div class="row mb-3">
                            <div class="col">
                                <h6>Email</h6>
                                <input type="email" class="form-control mb-3" placeholder="email" id="email"
                                    name="email" ngModel #emailInput="ngModel" [(ngModel)]="emailaddress">

                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <h6>Password</h6>
                                <input type="password" class="form-control mb-3" placeholder="Password" id="password"
                                    name="password" ngModel #passwordInput="ngModel" [(ngModel)]="password">

                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary form-control">Sign in</button>
                        
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>